*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
    width: 1020px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
}

header{
    background-color: #f06c64;
}
.title{
    display: inline-block;
    margin-top: 65px;
    margin-bottom: 30px;
    font-family: "Lato Black", sans-serif;
    font-size: 30px;
    color: #f0d8d9;
    text-decoration: none;
}
.title-sm{
    font-family: "Lato Black", sans-serif;
    font-size: 18px;
    color: #f0d8d9;
}
.text{
    font-family: "Lato Light", sans-serif;
    color: #f0d8d9;
}
.text-lg{
    font-size: 18px;
}
.text-sm{
    font-size: 12px;
}

.contacts{
    background-color: #f06c64;
}
.contacts_inner{
    display: flex;
    justify-content: space-between;
    padding: 50px 30px 65px 30px;
    border-bottom: 6px solid #ea676b;
}
.form{
    width: calc(100% * 8 / 12 - 10px);
    margin-right: 10px;
}
.form input, .form textarea, .form button{
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 15px;
    border: none;
    outline: none;
    background-color: #d6564f;
    font-family: "Lato Regular", sans-serif;
    font-size: 12px;
    border-radius: 5px;
}

.form button {
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
}

.form button:hover {
    background-color: #53ff88;
    transition: 0.5s linear;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #f48c8f; }
.contacts__info{
    width: calc(100% * 4 / 12 - 10px);
    margin-left: 10px;
}
.contacts__title{
    margin-bottom: 20px;
}
.contacts__text{
    font-family: "Lato Regular", sans-serif;
}
.contacts__list{
    margin-top: 30px;
    list-style: none;
}
.contacts__list li{
    position: relative;
    margin-bottom: 5px;
    padding-left: 30px;
}
.contacts__list img{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}


footer{
    padding: 30px 0;
    background-color: #2d303a;
}
.footer_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.footer__copyright{
    color: #666d89;
    font-family: "Lato Regular", sans-serif;
}
.footer__social{
    display: flex;
    list-style: none;
}
.footer__social li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    border: 1px solid #666d89;
    border-radius: 50%;
}
.footer__social li img{
    display: block;
}